@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=PT+Serif:ital@1&family=Poppins:ital,wght@0,300;1,700&family=Quicksand:wght@700&family=Roboto+Mono:wght@500&display=swap');
.main{
    
    
    .lib{
        
        position: absolute;
width: 335px;
height: 66px;
left: 33px;
top: 2605px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;

color: #1B1B50;
    }
    .shop{
        position: absolute;
width: 329px;
height: 86px;
left: 33px;
top: 2708px;

font-family: 'Reptile';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 134.8%;
/* or 43px */


color: #000000;
    }


    .gentle{
        position: absolute;
width: 308px;
height: 145px;
left: 33px;
top: 2815px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 206.5%;
/* or 29px */


color: rgba(0, 0, 0, 0.8);

    }

    .btn{
        cursor: pointer;
        display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18px 45px;

position: absolute;
width: 315px;
height: 66px;
left: 30px;
top: 2993px;

background: linear-gradient(297.28deg, #F66E6E 67.01%, rgba(246, 110, 110, 0) 123.71%);
filter: drop-shadow(0px 2px 6px rgba(255, 22, 64, 0.33));
border-radius: 70px;

.btext{
    position: static;
width: 237px;
height: 30px;
left: 39px;
top: 18px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 19.8605px;
line-height: 30px;
/* identical to box height */

text-align: center;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

    }

    .nasties{
        
        position: absolute;
width: 335px;
height: 33px;
left: 20px;
top: 3080px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
/* identical to box height */

text-align: center;

color: rgba(0, 0, 0, 0.8);
    }
    .image{
        position: absolute;
width: 375px;
height: 562px;
left: 0px;
top: 3120px;
    }
}